<div class="fondo" (click)="onCancell()" ></div>
<dialog open>
  <h2>Agregar Tarea</h2>
  <form>
    <p>
      <label for="titulo">Titulo</label>
      <input type="text" id="titulo" name="titulo" [(ngModel)]="inputTitle" />
    </p>
   
    <p>
      <label for="resumen">Resumen</label>
      <textarea id="resumen" rows="5" name="resumen" [(ngModel)]="inputDescription"></textarea>
    </p>

    <p>
      <label for="expira">Fecha Límite</label>
      <input type="date" id="expira" name="expira" [(ngModel)]="inputDate" />
    </p>

    <p class="acciones">
      <button type="button" (click)="onCancell()">Cancelar</button>
      <button type="submit">Crear</button>
    </p>
  </form>
</dialog>